
# python
*.pyc
__pycache__/
.pytest_cache/

# notebooks
*.ipynb

# data
*.csv
*.txt

# logs
*.log

# instructions
instructions.md

# env
.env

# infrastructure
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl