
# python
*.pyc
__pycache__/
.pytest_cache/
*.pkl

# notebooks
*.ipynb

# data
*.csv
*.txt

# logs
*.log

# misc
instructions.md
ToDo.md
# env
.env

# infrastructure
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl